<app-student-header></app-student-header>

<!-- Gradient Header Section -->
<section class="contact-header">
  <div class="contact-content">
    <h1>Get in Touch</h1>

    <div class="breadcrumb">
      <a routerLink="/student/stud-home">🏠 Home</a> >
      <span>Contact</span>
    </div>
  </div>
</section>

<!-- Contact Form Section -->
<section class="contact-form-section">
  <!-- Decorative Background Image -->
  <img src="contact form img.png" class="contact-bg-img" alt="Image Not Found">
  <div class="contact-card">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- 🔵 STEP 1 - Personal Details -->
      @if (step === 1) {
      <div class="form-step">

        <h2>Personal Details</h2>

        <div class="form-group">
          <label>Full Name <span class="text-danger">*</span></label>
          <input type="text" formControlName="fullName" placeholder="Enter full name">
        </div>

        <div class="form-group">
          <label>Email<span class="text-danger">*</span></label>
          <input type="email" formControlName="email" placeholder="Enter email">
        </div>

        <div class="form-group">
          <label>Mobile Number<span class="text-danger">*</span></label>
          <input type="text" formControlName="mobile" placeholder="Enter mobile number">
        </div>

        <div class="form-group">
          <label>Date of Birth<span class="text-danger">*</span></label>
          <input type="date" formControlName="dob">
        </div>

        <div class="form-group">
          <label>Gender</label>
          <select formControlName="gender">
            <option value="">Select</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>

        <div class="form-group">

          <label>City</label>

          <input type="text" formControlName="city" list="cityList" placeholder="Select or type city">

          <datalist id="cityList">

            <option value="Valsad">
            <option value="Vapi">
            <option value="Surat">
            <option value="Navsari">
            <option value="Ahmedabad">
            <option value="Vadodara">
            <option value="Mumbai">
            <option value="Pune">

          </datalist>

        </div>

        <div class="form-group">

          <label>State</label>

          <input type="text" formControlName="state" list="stateList" placeholder="Select or type state">

          <datalist id="stateList">

            <option value="Gujarat">
            <option value="Maharashtra">
            <option value="Rajasthan">
            <option value="Madhya Pradesh">
            <option value="Delhi">
            <option value="Karnataka">
            <option value="Tamil Nadu">

          </datalist>

        </div>

        <button type="button" (click)="nextStep()" class="btn-next">Next</button>

      </div>
      }

      <!-- 🔵 STEP 2 - Educational Details -->
      @if (step === 2) {
      <div class="form-step">

        <h2>Educational Details</h2>

        <div class="form-group">
          <label>Standard <span class="text-danger">*</span></label>
<!-- Board & Stream only for 10th / 11th / 12th -->
<label *ngIf="registerForm.get('standard')?.value !== '9th'">Board <span class="text-danger">*</span></label>
<label *ngIf="registerForm.get('standard')?.value !== '9th'">Stream <span class="text-danger">*</span></label>

<!-- Science Group -->
<label *ngIf="registerForm.get('stream')?.value==='Science'">Science Group <span class="text-danger">*</span></label>
          <select formControlName="standard">
            <option value="">Select Standard</option>
            <option>9th</option>
            <option>10th</option>
            <option>11th</option>
            <option>12th</option>
          </select>
        </div>

        <div class="form-group">
          <label>Board</label>
          <select formControlName="board">
            <option value="">Select Board</option>
            <option>GSEB</option>
            <option>CBSE</option>
            <option>ICSE</option>
            <option>Other</option>
          </select>
        </div>

        <div class="form-group">
          <label>Stream</label>
          <select formControlName="stream">
            <option value="">Select Stream</option>
            <option>Science</option>
            <option>Commerce</option>
            <option>Arts</option>
          </select>
        </div>

        <!-- Science Group Only -->
        @if (registerForm.get('stream')?.value === 'Science') {
        <div class="form-group">
          <label>Science Group</label>
          <select formControlName="scienceGroup">
            <option value="">Select Group</option>
            <option>PCM</option>
            <option>PCB</option>
            <option>PCMB</option>
          </select>
        </div>
        }

        <div class="subject-item" *ngFor="let subject of availableSubjects">

          <label>

            <input type="checkbox" (change)="toggleSubject($event, subject.title)">

            <span class="subject-name">
              {{subject.title}}
            </span>

            <span class="subject-fees">
              ₹{{subject.fees}}
            </span>

          </label>

        </div>

        <!-- ⭐ Profile Image Upload -->
        <div class="form-group">

          <label>Upload Profile Image</label>

          <input type="file" accept="image/*" (change)="onFileSelected($event)">

        </div>

        <div class="image-preview" *ngIf="imagePreview">
          <img [src]="imagePreview">
        </div>
        <button type="button" (click)="previousStep()" class="btn-back">Back</button>
        <button type="button" (click)="goToPayment()" class="btn-next">Next</button>

      </div>
      }
      <!-- STEP 3 PAYMENT -->
      @if (step === 3) {

      <div class="form-step payment-step">

        <h2>Tuition Fees Payment</h2>

        <p>Please scan the QR code and pay fees</p>

        <div class="qr-container">

          <img src="qr-code.png" class="qr-image" alt="UPI QR Code">

        </div>

        <h3>Total Fees : ₹{{ getTotalFees() }}</h3>

        <div class="form-group">

          <label>Transaction ID</label>

          <input type="text" name="transactionId" [(ngModel)]="transactionId" [ngModelOptions]="{standalone:true}"
            placeholder="Enter UPI Transaction ID" required>

        </div>

        <div class="payment-buttons">

          <button type="button" (click)="previousStep()" class="btn-back">
            Back
          </button>

          <button type="submit" class="btn-submit">
  Complete Registration
</button>

        </div>

      </div>

      }

    </form>

  </div>
<!-- Toast Container -->
<div class="toast-container custom-toast-container">

  <div #toastRef class="toast custom-toast border-0" role="alert">

    <div class="d-flex">

      <div class="toast-body">
        {{toastMessage}}
      </div>

      <button type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast">
      </button>

    </div>

  </div>

</div>
</section>

<app-stud-footer></app-stud-footer>