<div class="dashboard-container">
  <div class="teacher-layout">
    <div class="content">

      <h2>My Students</h2>

      <table>

        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Standard</th>
          <th>Subjects</th>
          <th>Action</th>
        </tr>

        @for (student of students; track $index) {

        <tr>

          <td>{{ student.fullName }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.standard }}</td>

          <td>

            @if (student.subjects.length) {

            @for (sub of student.subjects; track $index) {

            <span>{{ sub }}</span>

            }

            } @else {

            <span>No Subjects</span>

            }

          </td>

          <td>

            <button class="approve" (click)="approveStudent(student)">
              Approve
            </button>

            <button class="reject" (click)="rejectStudent(student)">
              Reject
            </button>

          </td>

        </tr>

        }

      </table>

    </div>

  </div>