<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Class 11  Humanities (Arts) Online Tuition Classes
  </title>
  <meta name="robots" content="index,follow,max-image-preview:large">
  <meta name="keywords" content="Arts Subjects in 11th Class,Class 11 Humanities,11 class Geography,11th class Political Science,11th class Sociology,11 class Philosophy">
  <meta name="description" content="Get the best online tuition for Class 11 Humanities (Arts), subjects like History, Political Science, Geography, and more. Boost your academic performance today. ">
  <link rel="canonical" href="https://e-tuitions.com/online-classes/school/class-11-arts" />
  <meta property="og:title" content="Class 11  Humanities (Arts) Online Tuition Classes" />
  <meta property="og:description" content="Get the best online tuition for Class 11 Humanities (Arts), subjects like History, Political Science, Geography, and more. Boost your academic performance today. " />
  <meta property="og:image" content="https://e-tuitions.com/images/1708060595156.png" />
  <meta property="og:url" content="https://e-tuitions.com/online-classes/school/class-11-arts" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@e_etuitions">
  <meta name="twitter:creator" content="@e_etuitions">
  <meta name="twitter:title" content="Your Online Tutor">
  <meta name="twitter:description"
    content="Find best tutors in India for online classes. We provide one to one classes for all subjects in Class 1 to 12, CBSE, ICSE, IGCSE, IB & all state boards. Also find experienced teachers for IIT JEE, NEET classes, coding classes, language classes, abacus, phonics, Vedic math, music, dance, yoga & much more. Book Free Demo Class Today!">
  <meta name="twitter:image" content="https://e-tuitions.com/images/1708060595156.png">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
    integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- AOS Animation CSS / JS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
  <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/webfront/css/landing.css">
  <!-- vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <!-- <script src="https://unpkg.com/vue-router"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <!-- Meta Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1188103306263883');
    fbq('track', 'PageView');
   </script>
   <noscript>
    <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1188103306263883&ev=PageView&noscript=1" />
   </noscript>
   <!-- End Meta Pixel Code -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N8NT4D4');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8NT4D4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Header -->
  <header>
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-5 col-7 main-logo">
        <a href="https://e-tuitions.com/" data-aos="fade-right">
          <img src="/img/logo.png" alt="logo" class="img-fluid">
        </a>
      </div>
      <div class="col-sm-7 col-5 header-menu">
        <ul class="m-0" data-aos="fade-left">
          <li>
            <a href="tel:+919311656688" class="menu-link main-btn">
              <span class="menu-icon"><i class="las la-phone"></i></span>
              <span class="menu-text">+91 931 165 6688</span>
            </a>
          </li>
          <li>
            <a href="mailto:education@e-tuitions.com" class="menu-link main-btn">
              <span class="menu-icon"><i class="las la-envelope"></i></span>
              <span class="menu-text">education@e-tuitions.com</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

    <!-- Header -->

    <!-- View Classes -->
    <section class="top-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-7 mb-md-0 mb-4 cls-content">
            <div data-aos="fade-right"><p>Struggling with arts subjects in Class 11? Our online tuition classes offer a comprehensive solution to help you excel in all aspects of your studies.</p>

<p>Access a complete package that includes history, philosophy, sociology, geography,&nbsp;and&nbsp;all other arts subjects. Study at your own pace, with interactive one-to-one sessions, practice quizzes, and regular assessments to track your progress.</p>

<p>With our Class 11 Humanities (Arts) online tuition classes, you&#39;re not just studying; you&#39;re on the road to success.</p>

<p>We understand the challenges students face. That&#39;s why we offer affordable pricing options and flexible schedules, allowing you to access quality education without breaking the bank.</p>
</div>
            <buton data-aos="fade-right" class="main-btn scroll-btn">Book Demo Class</button>
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="https://e-tuitions.com/images/1708512437517.png" [alt]="a boy is watching video on laptop "
              class="img-fluid w-100  sticky-img" data-aos="fade-left">
          </div>
        </div>
    </section>
    <!-- View Classes End -->

    <!-- Book A Demo Class -->
    <main id="main">
  <section class="home-sec demo-class-sec" id="bookFreeClasses">
    <div class="container-fluid">
      <div class="demo-class-box">
        <div class="row demo-form-row">
          <div class="col-lg-7 col-md-6 global-form">
            <div class="title-sec">
              <h2 data-aos="fade-right">Book Free Demo <span class="primary">Class</span></h2>
              <p data-aos="fade-right">Our team will connect you with the Best Tutors</p>
            </div>
            <form action="#" data-aos="fade-up">
              <div class="row-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter First Name" v-model="userForm.firstName"
                    required onkeydown="return /[a-z, ]/i.test(event.key)"
                    onblur="if (this.value == '') {this.value = '';}" onfocus="if (this.value == '') {this.value = '';}"
                    @click="validateUserFormFirstName()" v-on:keyup="validateUserFormFirstName()" />
                  <span class="error" v-if="!validateUserForm.firstName">Enter your first name.</span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter Last Name" v-model="userForm.lastName"
                    required onkeydown="return /[a-z, ]/i.test(event.key)"
                    onblur="if (this.value == '') {this.value = '';}" onfocus="if (this.value == '') {this.value = '';}"
                    @click="validateUserFormLastName()" v-on:keyup="validateUserFormLastName()" />
                  <span class="error" v-if="!validateUserForm.lastName"> Enter your last name.</span>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter email address" v-model="userForm.email"
                  required @click="validateUserFormEmail()" v-on:keyup="validateUserFormEmail()">
                <span class="error" v-if="!validateUserForm.email"> Enter your valid email Id.</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <select class="form-control" v-model="selectedCountry">
                      <option v-for="option in countryCode" v-bind:value="option.dial_code">
                        {{option.code}} {{option.dial_code}}
                      </option>
                    </select>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter Mobile Number" v-model="userForm.mobile"
                    required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    max="10" @click="validateUserFormMobileNo()" v-on:keyup="validateUserFormMobileNo()" />
                </div>
                <span class="error" v-if="!validateUserForm.mobile && isIndia">Enter your mobile number.</span>
                <span class="error" v-if="!validateUserForm.mobile && !isIndia">Enter your valid mobile number.</span>
              </div>
              <button type="button" class="main-btn d-block" v-if="registered"
                :disabled="!userForm.mobile || !userForm.email|| !userForm.firstName|| !validateUserForm.firstName || !validateUserForm.email || !validateUserForm.mobile"
                @click="bookDemoClass()">Book Now</button>
              <div class="otp-box mt-3" v-if="!registered">
                <div class="form-group">
                  <input type="text" class="form-control form-otp" placeholder="Enter OTP" v-model="otpForm.otp"
                    @click="validateOtpFormOtp()" v-on:keyup="validateOtpFormOtp()" maxlength="6" required>
                  <div class="d-block clearfix">
                    <span class="error mt-1 float-left" v-if="!validateOtpForm.otp">Enter your otp.</span>
                    <button href="javascript:void(0)" @click.prevent="resendOtp" :disabled="resenddisable"
                      class="btn btn-warning btn-sm resend-otp float-right">Resend OTP</button>
                  </div>
                </div>
                <button type="submit" class="main-btn submit-otp" :disabled="!otpForm.otp || !validateOtpForm.otp"
                  @click.prevent="submitOtp">Submit OTP</button>
              </div>
            </form>
          </div>
          <div class="col-lg-5 col-md-6 book-classes-img">
            <img src="/img/demo-classes.gif" alt="girl student with laptop and books taking online course"
              class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Book free trail class modal-box -->
  <!-- <div class="modal fade global-form" id="bookTrailClass">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal"><i class="las la-times"></i></button>
          <div class="row">
            <div class="col-lg-6 left-form">
              <form>
                <img src="/img/logo.png" alt="logo" class="img-fluid">
                <h4>Connect with the Best Tutors in India</h4>
                <p>Find best Online Classes for school & college students. Connect with the Best
                  Tutors in India, who believe in students to excel. Take concepts building and
                  doubt-solving classes.</p>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter Your Name" @click="validateName()"
                    v-on:keyup="validateName()" v-model="modalForm.name" onkeydown="return /[a-z, ]/i.test(event.key)"
                    onblur="if (this.value == '') {this.value = '';}"
                    onfocus="if (this.value == '') {this.value = '';}" />
                  <span class="error" v-if="!validate.name"> Enter your complete name.</span>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <select @change="onChange($event)" class="form-control" v-model="selectedCountry">
                        <option v-for="option in countryCode" v-bind:value="option.dial_code">
                          {{option.code}} {{option.dial_code}}
                        </option>
                      </select>
                    </div>
                    <input type="text" class="form-control" placeholder="Your Mobile No" @click="validateMobileNo()"
                      v-on:keyup="validateMobileNo()" v-model="modalForm.mobile"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" max="10" />
                  </div>
                  <span class="error" v-if="!validate.mobile">Enter valid 10 digit mobile number.</span>
                </div>
                <button :disabled="!modalForm.name || !validate.name || !modalForm.mobile || !validate.mobile "
                  class="main-btn" type="submit" @click.prevent="reachData">Book Free Trial Class</button>
              </form>
            </div>
            <div class="col-lg-6 right-form d-none d-lg-block">
              <img src="/img/modal-img.jpg" alt="modal-img" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Book free trail class modal-box end -->

  <!-- Success and Error Massage -->
  <div class="modal fade" id="successErrorModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-0">
          <!-- Success -->
          <div class="row success-row" id="sucessAlert">
            <div class="col">
              <div class="icons">
                <i class="las la-check"></i>
              </div>
              <h2>Success</h2>
              <p v-html="message"></p>
              <button data-dismiss="modal" class="main-btn" v-if="isContinue">Continue</button>
            </div>
          </div>
          <!-- Success end -->

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="failureErrorModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-0">
          <!-- error -->
          <div class="row success-row error-row" id="errorAlert">
            <div class="col">
              <div class="icons">
                <i class="las la-times"></i>
              </div>
              <h2>Failure</h2>
              <p v-html="message"></p>
              <button data-dismiss="modal" class="main-btn">Continue</button>
            </div>
          </div>
          <!-- error end -->
        </div>
      </div>
    </div>
  </div>

</main>

<script>
  // Window onload
  // setTimeout(function () {
  //   $('#bookTrailClass').modal('show');
  // }, 5000);

  var object = new Vue({
    el: "#main",
    data: {
      modalForm: {
        name: "",
        mobile: ""
      },
      userForm: {
        firstName: '',
        lastName: '',
        email: '',
        mobile: '',
      },
      validate: {
        name: true,
        mobile: true,
      },
      otpForm: {
        otp: ''
      },
      validateOtpForm: {
        otp: true
      },
      validateUserForm: {
        firstName: true,
        lastName: true,
        email: true,
        mobile: true,
        otp: true
      },
      otpId: string = '',
      resenddisable: boolean = true,
      isContinue:boolean= false,
      message: '',
      baseUrl: 'https://e-tuitions.com',
      myModal: Boolean,
      url: 'https://e-tuitions.com',
      registered: true,
      isIndia: true,
      countryCode: [],
      selectedCountry: '+91'
    },
    methods: {
      // Phone Number Country Code
      phoneData() {
        axios.get('/json/country-code.json').then(res => {
          this.countryCode = res.data;
        })
      },
      // ModalForm
      reachData() {
        let self = this;
        let data = {
          name: this.modalForm.name,
          mobile: this.modalForm.mobile,
          code: this.modalForm.countryCode,
          type: 'ONLINE CLASSES',
          visitor: "Student"
        };
        axios.post(this.baseUrl + '/api' + '/inquiry', data).then(function (response) {
          self.modalForm = {
            name: "",
            mobile: "",
            code: ""
          }
          if (response.data.alreadybookedTriaClass) {
            self.message = 'We have already received your details.Contact you Soon!';
            $('#myModal').modal('hide');
            $('#failureErrorModal').modal('show');
            return;
          }
          self.message = 'We received your data.Contact you Soon!';
          $('#myModal').modal('hide');
          $('#successErrorModal').modal('show');
        }).catch(err => {
          self.modalForm = {
            name: "",
            mobile: "",
            code: ""
          }
          self.message = err.response.data.message;
          $('#myModal').modal('hide');
          $('#failureErrorModal').modal('show');
          console.log(err);
        });
      },
      validateName() {
        let self = this;
        if (!self.modalForm.name) {
          self.validate.name = false;
        }
        else {
          self.validate.name = true;
        }
      },
      validateMobileNo() {
        if (!this.modalForm.mobile) {
          this.validate.mobile = false;
        }
        else if (this.modalForm.mobile.toString().length != 10) {
          this.validate.mobile = false;
        }
        else {
          this.validate.mobile = true;
        }
      },
      validateUserFormFirstName() {
        if (!this.userForm.firstName) {
          this.validateUserForm.firstName = false;
        }
        else {
          this.validateUserForm.firstName = true;
        }
      },
      validateUserFormLastName() {
        if (!this.userForm.lastName) {
          this.validateUserForm.lastName = false;
        }
        else {
          this.validateUserForm.lastName = true;
        }
      },
      validateUserFormMobileNo() {
        let pattern = new RegExp(this.validateUserForm.mobile);
        if (this.selectedCountry == "+91") {
          this.isIndia = true;
          pattern = /^[0-9]{10}$/;
        } else {
          this.isIndia = false;
          pattern = /^[0-9]{6,11}$/;
        }
        if (!pattern.test(this.userForm.mobile.toString())) {
          this.validateUserForm.mobile = false;
        } else {
          this.validateUserForm.mobile = true;
        }
      },
      validateUserFormEmail() {
        var mailValidation = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!this.userForm.email) {
          this.validateUserForm.email = false;
        }
        else if (!this.userForm.email.match(mailValidation)) {
          this.validateUserForm.email = false;
        }
        else {
          this.validateUserForm.email = true;
        }
      },
      validateOtpFormOtp() {
        if (!this.otpForm.otp) {
          this.validateOtpForm.otp = false;
        }
        else {
          this.validateOtpForm.otp = true;
        }
      },
      bookDemoClass() {
        let data = {
          firstName: this.userForm.firstName,
          lastName: this.userForm.lastName,
          email: this.userForm.email,
          mobile: this.userForm.mobile,
          countryCode: this.selectedCountry,
          type: 'STUDENT',
        }
        let self = this;
        if (this.selectedCountry == '+91') {
          axios.post(this.baseUrl + '/api' + '/auth/register/requestotp', data).then(function (response) {
            let data = response['data'];
            self.otpId = data.id;
            self.registered = false;
            self.message = 'Otp send to your registered mobile no !';
            self.isContinue = true;
            $('#successErrorModal').modal('show');
            setTimeout(function () {
              self.resenddisable = false
            }, 60000)
          }, err => {
            self.userForm = {
              firstName: '',
              lastName: '',
              email: '',
              mobile: '',
              code: ''
            }
            self.registered = true;
            self.message = err.response.data.message;
            self.isContinue = false;
            $('#failureErrorModal').modal('show');
          });
        } else {
          let url = this.url;
          axios.post(this.baseUrl + '/api' + '/auth/register', data).then(function (response) {
            self.userForm = {
              firstName: '',
              lastName: '',
              email: '',
              mobile: '',
            }
            self.registered = false;
            self.message = `Registration Successful!<br>Credentials sent to your email.<br><b>Plase wait we will redirect to Login page.</b>`;
            $('#successErrorModal').modal('show');
            setTimeout(function () { window.open(url + '/' + 'student/auth/login', "_self") }, 3000);
          }, err => {
            console.log(err);
            self.registered = true;
            self.isContinue = false;
            self.message = err.response.data.message;;
            $('#failureErrorModal').modal('show');
          })
        }
      },
      resendOtp() {
        let data = {
          firstName: this.userForm.firstName,
          lastName: this.userForm.lastName,
          email: this.userForm.email,
          mobile: this.userForm.mobile,
        }
        let self = this;
        axios.post(this.baseUrl + '/api' + '/auth/register/requestotp', data).then(function (response) {
          let data = response['data'];
          self.otpId = data.id;
          self.message = 'Otp send to your registered mobile no !';
          $('#successErrorModal').modal('show');
          self.resenddisable = true;
          setTimeout(function () {
            self.resenddisable = false
          }, 60000)
        }, err => {
          console.log(err);
          self.message = err.response.data.message;
          $('#failureErrorModal').modal('show');
        });
      },
      submitOtp() {
        let self = this;
        let id = this.otpId;
        let baseUrl = this.baseUrl
        let data = {
          otp: this.otpForm.otp,
          id: id
        }
        let uData = {
          firstName: this.userForm.firstName,
          lastName: this.userForm.lastName,
          email: this.userForm.email,
          mobile: this.userForm.mobile,
          countryCode: this.userForm.countryCode,
          type: 'STUDENT',
          otpId: this.otpId
        }
        let url = this.url;
        axios.put(baseUrl + '/api' + '/common/verify-otp', data).then(function (response) {
          axios.post(baseUrl + '/api' + '/auth/register', uData).then(function (response) {
            self.userForm = {
              firstName: '',
              lastName: '',
              email: '',
              mobile: '',
            }
            self.otpForm = {
              otp: ''
            }
            self.registered = false;
            self.isContinue = false;
            self.message = 'Mobile no. successfully verified!<br>Credentials sent to your email and mobile no.<br><b>Plase wait we will redirect to Login page.</b>';
            $('#successErrorModal').modal('show');
            setTimeout(function () { window.open(url + '/' + 'student/auth/login', "_self") }, 3000);
          }, err => {
            console.log(err);
          })
        }, err => {
          self.message = err.response.data.message;
          $('#failureErrorModal').modal('show');
          console.log(err);
        });
      }
    },
    created() {
      this.phoneData();
    },
  })
</script>

      <!-- Book A Demo Class End -->

      <!-- Footer -->
      <footer>
  <div class="container-fluid">
    <div class="row f-row">
      <div class="col">
        <a href="https://goo.gl/maps/SfvDTi9eHvzhTEzQ6" target="_blank" class="f-address">
          <span><i class="fa-solid fa-location-dot"></i></span> FIEE Complex, A-55, Okhla II, New
          Delhi, India
        </a>
        <div class="social-links">
          <a href="https://www.facebook.com/etuitionslearning" target="_blank" class="facebook">
            <i class="fa-brands fa-facebook-f"></i>
            <span>Facebook</span>
          </a>
          <a href="https://www.instagram.com/etuitionslearning" target="_blank" class="instagram">
            <i class="fa-brands fa-instagram"></i>
            <span>Instagram</span>
          </a>
          <a href="https://twitter.com/e_etuitions" target="_blank" class="twitter">
            <i class="fa-brands fa-x-twitter"></i>
            <span>Twitter</span>
          </a>
          <a href="https://in.linkedin.com/company/e-tuitionslearning" target="_blank" class="linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
            <span>LinkedIn</span>
          </a>
          <a href="https://www.youtube.com/c/eTuitionsLearning" target="_blank" class="youtube">
            <i class="fa-brands fa-youtube"></i>
            <span>YouTube</span>
          </a>
        </div>
        <div class="f-links">
          <a href="">Home</a>
          <a href="about-us">About Us</a>
          <a href="find-teachers">Explore Teachers</a>
          <a href="how-to-register">How to Register</a>
          <a href="blog">Blogs</a>
          <a href="contact-us">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="row f-copy-right">
      <div class="col">
        <p>&copy; Copyright 2020 - <span id="year"></span> <a @click="navigatetoPage('')"> | e-Tuitions Learning Pvt
            Ltd.</a> | All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Slick JS -->
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
  // Current Year
  document.getElementById('year').innerHTML = new Date().getFullYear();

  // Chat with whatapp
  (function () {
    var options = {
      whatsapp: "+91-93116 56688",
      position: "left",
      order: "whatsapp",
    };
    var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
    s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();

  // AOS Animation loading Duration
  AOS.init({
    duration: 2000
  });

  $(document).ready(function () {
    // Testimonial Slider
    $('.teachers-slider').slick({
      arrows: false,
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000,
      responsive: [
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 700,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    // Click to Scroll Smooth
    $(".scroll-btn").click(function (e) {
      e.preventDefault();
      $('html, body').animate({
        scrollTop: $("#bookFreeClasses").offset().top
      }, 1200);
    });
    // Success Modal
    $(".otp-box").hide();
    $(".book-class").click(function () {
      $(this).hide();
      $(".otp-box").show();
    });
    // Success Modal
    $(".submit-otp, .reach-us-btn").click(function () {
      $('#successErrorModal').modal('show');
      $('#myModal').modal('hide');
      setTimeout(function () {
        $('#successErrorModal').modal('hide')
      }, 4000);
    })
  })

</script>
</body>

</html>
        <!-- Footer End -->