<form [formGroup]="courseForm" (ngSubmit)="submit()">

<h2>Add New Course</h2>

<!-- CLASS -->
<select formControlName="class" (change)="onClassChange()">
  <option value="">Select Class</option>
  <option value="9th">9th Standard</option>
  <option value="10th">10th Standard</option>
  <option value="11th">11th Standard</option>
  <option value="12th">12th Standard</option>
</select>

<div *ngIf="courseForm.get('class')?.touched && courseForm.get('class')?.invalid">
  Class is required
</div>

<!-- BOARD -->
<div *ngIf="showBoard">
<select formControlName="board">
  <option value="">Select Board</option>
  <option value="GSEB">GSEB</option>
  <option value="CBSE">CBSE</option>
</select>
</div>

<!-- STREAM -->
<div *ngIf="showStream">
<select formControlName="stream">
  <option value="">Select Stream</option>
  <option value="Commerce">Commerce</option>
  <option value="PCM">PCM</option>
  <option value="PCB">PCB</option>
</select>
</div>

<br><br>

<!-- COURSE DETAILS -->

<input formControlName="title" placeholder="Course Title">
<div *ngIf="courseForm.get('title')?.touched && courseForm.get('title')?.invalid">
  Title is required
</div>

<input formControlName="description" placeholder="Course Description">
<div *ngIf="courseForm.get('description')?.touched && courseForm.get('description')?.invalid">
  Description is required
</div>

<input formControlName="fees" placeholder="Course Fees">
<div *ngIf="courseForm.get('fees')?.touched && courseForm.get('fees')?.invalid">
  Fees is required
</div>

<input formControlName="duration" placeholder="Course Duration">
<div *ngIf="courseForm.get('duration')?.touched && courseForm.get('duration')?.invalid">
  Duration is required
</div>

<input formControlName="mode" placeholder="Online / Offline">
<div *ngIf="courseForm.get('mode')?.touched && courseForm.get('mode')?.invalid">
  Mode is required
</div>

<br><br>

<h3>Teacher Details</h3>

<div formGroupName="teacher">

<input formControlName="name" placeholder="Teacher Name">
<div *ngIf="courseForm.get('teacher.name')?.touched && courseForm.get('teacher.name')?.invalid">
  Teacher name required
</div>

<input formControlName="details" placeholder="Teacher Details">

<textarea formControlName="bio" placeholder="Teacher Bio"></textarea>

<br><br>

<!-- IMAGE UPLOAD -->
<label>Upload Teacher Profile</label>

<input 
type="file" 
accept="image/*"
(change)="uploadTeacherImage($event)"
>

<!-- validation -->
<div 
*ngIf="courseForm.get('teacher.profile')?.invalid && courseForm.get('teacher.profile')?.touched"
style="color:red"
>
Profile Image is required
</div>

<!-- IMAGE PREVIEW -->
<div *ngIf="teacherImage">
<img [src]="teacherImage" width="120" height="120">
<p style="color:green">Image Uploaded Successfully</p>
</div>

</div>

<br>

<!-- CHAPTERS -->

<h3>Chapters</h3>

<div formArrayName="chapters">

<div *ngFor="let chapter of chapters.controls; let i = index" class="chapter-row">

<input [formControlName]="i" placeholder="Chapter Name">

<button type="button" class="remove-btn" (click)="chapters.removeAt(i)">
Remove
</button>

</div>

<button type="button" class="add-btn" (click)="addChapter()">
+ Add Chapter
</button>

</div>

<br>

<button type="submit" [disabled]="courseForm.invalid">
Save Course
</button>

</form>