<div class="assignment-container">

<h1 class="page-title">Assignments</h1>

<!-- STANDARD -->

<div class="standard-section">

<button
*ngFor="let std of standards"
(click)="selectStandard(std)"
[class.active]="selectedStandard===std">

Class {{std}}

</button>

</div>

<!-- CATEGORY -->

<div
*ngIf="categories.length>0"
class="category-section">

<button
*ngFor="let cat of categories"
(click)="selectCategory(cat)"
[class.active]="selectedCategory===cat">

{{cat}}

</button>

</div>

<!-- SUBJECT -->

<div
*ngIf="selectedStandard && !selectedSubject"
class="subject-grid">

<div
class="subject-card"
*ngFor="let sub of subjects">

<h3>{{sub.subject}}</h3>

<button (click)="openSubject(sub)">
Open
</button>

</div>

<p *ngIf="subjects.length===0">
No subject available
</p>

</div>

<!-- ASSIGNMENT -->

<div *ngIf="selectedSubject">

<button
class="back-btn"
(click)="back()">

← Back

</button>

<h2>

Class {{selectedStandard}}

<span *ngIf="selectedCategory">

- {{selectedCategory}}

</span>

- {{selectedSubject.subject}}

</h2>

<button
class="add-chapter-btn"
(click)="addChapter()">

+ Add Chapter

</button>

<div
*ngFor="let chapter of chapters; let i=index"
class="chapter-box">

<div class="chapter-header">

<strong>

Chapter {{chapter.chapterNo}}

</strong>

<button (click)="deleteChapter(i)">
Delete
</button>

</div>

<input
[(ngModel)]="chapter.chapterName"
placeholder="Chapter Name">

<button
(click)="addAssignment(chapter)">

Add Assignment

</button>

<div
*ngFor="let a of chapter.assignments; let j=index">

<input
[(ngModel)]="a.title"
placeholder="Assignment Title">

<input
type="date"
[(ngModel)]="a.dueDate">

<input
type="number"
[(ngModel)]="a.totalMarks"
placeholder="Marks">

<button
(click)="deleteAssignment(chapter,j)">

Delete

</button>

</div>

</div>

<button
class="save-btn"
(click)="saveAssignment()">

Save Assignment

</button>

</div>

</div>
